<footer class="footer">
    <div class="f-info">
        
        <div class="f-info-social">
            <div class="f-edit"><a href="https://www.threads.net/@akash_gangwar_999"></a><i class="fa-brands fa-facebook-f fa-lg"></i></a></div>
            <div class="f-edit"><a href="https://www.instagram.com/akash_gangwar_999/?__pwa=1"><i class="fa-brands fa-instagram fa-lg"></i></a></div>
            
           <div class="f-edit"><a href="https://www.linkedin.com/in/akash-gangwar-28646a327/"> <i class="fa-brands fa-linkedin-in fa-lg"></i></a></div>
           <div class="f-edit"> <a href="https://x.com/Akash_gangawar"><i class="fa-brands fa-twitter fa-lg"></i></a></div>
            
        </div>
        <div class="f-info-brand">&copy;Make your trip</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
            <h1></h1>
<i class="fa-solid fa-minus fa-rotate-90"></i>
            <a href="/terms"> Terms & Conditions</a>
        </div>
    </div>
    <div class="footer-wave">
  <svg viewBox="0 0 1440 320" preserveAspectRatio="none">
    <path fill="#EDE9FE"
      d="M0,224L48,208C96,192,192,160,288,170.7C384,181,480,235,576,234.7C672,235,768,181,864,170.7C960,160,1056,192,1152,208C1248,224,1344,224,1392,224L1440,224L1440,320L0,320Z">
    </path>
  </svg>
</div>
</footer>